@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Lobster+Two:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
/* Reset some default styles */
*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
.LoginOtpBox,.LoginPassBox,.SignUpBox,.AdminLoginBox{
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.519) ;
    display: none;
}
.LoginOtpBoxShow,.LoginPassBoxShow,.SignUpBoxShow,.AdminLoginBoxShow{
    display: flex;
}
/* Basic styling */
body {
    font-family: Arial, sans-serif;
}
/* .first-container{
    border: 2px solid rgb(106, 0, 255);
    width: 100%;
    height: auto;
    overflow: hidden;
} */
.Scroll-Links-Add{
    display:none;
}
.Scroll-Links-Remove{
    display: none
}
.Switch-Category{
    display: none;
}
.Slider-Bar{
    width: 80%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: start;
    right: 100%;
    top: 0;
    z-index: 2;
    transition: .5s;
    background-color: #ffffff;
    
 
    /* border: 2px solid red; */
    display: none;
}
.Slider-Bar-In{
    right: 20%;
}
.Slider-Bar-Exit{
    font-size: 28px;
   
    margin-top: -5%;
    color: #832729;
}
.Login-SignUp-Box{
    width: 100%;
    height: 100%;
    
    
   
}
.Login-Box{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.Login-Names{
    text-decoration: none;
    color:#832729;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}



/* .Show-InBox-Info{
    display: block;
    width: fit-content;
    height: fit-content;
    color:#c35c5e;
    font-size: 19px;
    margin-left: auto;
    margin-right: 3%;
    margin-top: -5.5%;
    text-decoration: none;
    background-color: none;
    transition: .2s;
}
.Rotate-Arrow{
    rotate: 90deg;
} */





/* .Show-Gold-Opt{
    display: none;
} */
.Navcontainer{
    position: fixed;
    top: 0;
    overflow: hidden;
    /* border: 2px solid red; */
    width: 100%;
    height: 10.5vh;
    display: flex;
    gap: 4%;
    align-items: center;
    flex-direction: row;
    background-color: #f2e9e9;
    z-index: 2;
}
.custome-bar{
    display: none;
}
.Logo-Shop{
    margin-left: 7.5%;
}
.Search_Feald{
    display: flex;
}
.search-container-two{
    display: none;
    
}

.search:focus {
    border: 1px solid rgb(255, 255, 255);

    outline:none;
    }
.search {
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    border-top-left-radius: 7px ;
    border-bottom-left-radius: 7px ;
}
.Search-Icon-Box{
    
    width: 60px;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-top-right-radius: 7px ;
    border-bottom-right-radius: 7px ;
}







.logo-container {
    display: flex;
    gap: 10px;
   
}

.logo-container img {
    max-width: 40px;
    max-height: 40px;
}
.logo{
    font-size: 26px;
    color: #832729;
    /* font-family: 'Lobster Two', sans-serif; */
  
    font-family: 'Dancing Script', cursive;
}
.top-logo{
    font-size: 28px; 
}
.top-logo:hover{
    font-size: 30px;
}
.nav-link-logos {
    /* border: 1px solid red; */
    width: 780px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9%;
}
.Admin-Block{
    display: none;
}
.Admin-Block-Show{
    display: block;
}
.top-nav-links{
    position: relative;
    width: 20%;
    height: 22px;
    /* border: 1px solid red; */
}
.AccountContainer-Show{
    display: none;
}
.AccountShow{
    display: none;
}
.AccountShowBlock{
    display:block;
}
.logo-name{
    font-size: 12px;
    /* position: relative; */
    bottom: 12px;
    color: #832729;
    font-family: "Roboto", sans-serif;
    /* font-weight: 400; */
    font-style: normal;
}

/* nav item */
.nav-item{
    /* border: 2px solid red; */
    width: 100%;
    height: 8vh;
    margin-top: 78px;
    overflow: hidden;
    display: flex;
    align-items: center;
    gap: 11%;
    flex-direction: row;
}
.nav-item-name{
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.one-item{
    margin-left: 9.8%;
}




















