.Admin-Main-Container{
    height: 65vh;
    position: relative;
    z-index: 1;
}
.AdminAccount-Container{
  width: 100%;
}
.ImageBox{
    /* border: 1px solid red; */
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Image-Admin{
    width:100%;
}

.Setting-Opt-Box{
    /* border: 1px solid red; */
    display: flex;
   
    height: 250px;
    display: none;
}
.Setting-Opt-Box-Show{
    
    display: flex;
}
.Setting-Otp-Container{
   
    overflow: auto; /* Allows scrolling */
  
}
.Edit-Box{
  height: 25vh;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
  overflow: auto;
  display: none;
}
.Edit-Box-Show{
  display: flex;
}
/* Add items */
.AddItems-Container{
    position: relative;
    border: 1px solid red;
    padding: 5%;
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    display: none;
}

.AddItems-Container-Show{
    display: flex;
}
.SubContainer-AddItems{
    width: 60%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}
/* Add items */

.custum-file-upload {
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  gap: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border: 2px dashed #cacaca;
  background-color: rgba(255, 255, 255, 1);
  padding: 1.5rem;
  border-radius: 10px;
 
}
.custum-file-upload:hover{
  background-color: rgba(233, 233, 233, 0.342);
  box-shadow:5px -6px 81px -49px rgba(146, 146, 146, 0.889);
}
.custum-file-upload .icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .icon svg {
  height: 80px;
  fill: rgba(75, 85, 99, 1);
}

.custum-file-upload .text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.custum-file-upload .text span {
  font-weight: 400;
  color: rgba(75, 85, 99, 1);
}

.custum-file-upload input {
  display: none;
}
.form {
  width: 100%;
  background-color: #fff;
  display: block;
  padding: 1rem;
  
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.form-title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  text-align: center;
  color: #000;
}

.input-container {
  
  position: relative;
}

.input-container input, .form button {
  
  outline: none;
  border: 1px solid #e5e7eb;
  margin: 8px 0;
}
.input-container input:focus{
  border: 1px solid #e5e7eb;
  outline: none;
}

.input-container input {
  
  background-color: #fff;
  padding: 1rem;
  padding-right: 3rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.submit {
  
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-right: auto;
  background-color:#832729;
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  width: 200px;
  border-radius: 0.5rem;
  text-transform: uppercase;
}
.submit:hover{
  background-color:#6e2123;
  
}

.signup-link {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 1.25rem;
  text-align: center;
}

.signup-link a {
  text-decoration: underline;
}
/* Add Close */


  
  /* Delete Items */
  .DeleteItems-Container{
    border: 1px solid red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }


    /* Update Items */
    .UpdateItems-Container{
      border: 1px solid red;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  
    /* Users Block */
    .Users-Container{
      border: 1px solid red;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }


      /* Orders Block */
      .Orders-Container{
        border: 1px solid red;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .DeleteItems-Container,.UpdateItems-Container,.Users-Container,.Orders-Container{
        display: none;
      }

      .DeleteItems-Container-Show,.UpdateItems-Container-Show,.Users-Container-Show,.Orders-Container-Show{
        display: flex;
      }
  
      