.MainContainerAdmin{
  background-color: #081027;
}
.slideBar-AdminPanel{
  background-color: #081028;
}
.adminSearch{
  background-color: #081028;
}
.Admin-Dashboard-Cards{
  background-color: #0B1739;
}
.orderDetails, .orderCol{
  background-color: #0B1739;
}