.Cart-Main-Container{
    border: 1px solid red;
    width: 100%;
    display: flex;
}
.empty-cart-img-box{
    width: 170px;
    height: 170px;
    background-color: rgba(228, 228, 228, 0.711);
    overflow: hidden;
}
.empty-cart-img{
    min-width: 240px;
}
.cart-md-container{
    padding: 20px;
    padding-right: 0;
    display: flex;
    width: 70%;
    height: 100%;
    /* border: 1px solid red; */

}
.cart-md-container-items{
    margin-left: 5%;
    width: 100%;
  
}
.cart-Item-Box{
    border-bottom: 1px solid rgb(214, 214, 214);
    height: 100%;
}
.cart-Image-Box{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    
    width: 20%;
   
}
.cart-Image{
    width: 100%;

}
.checkOutBtn{
    height: 10px;
}
.clearCartAll{
    font-size: 14px;
    padding: 5px 10px;
}
.cartButtons{
    width: 17%;
    height: 55px;
}
.cartButtons-Login{
    width: 17%;
    height: 55px;
    color: white;
    background-color: #4f3267;
    /* box-shadow: 0 4px 25px #832729b3; */
}
.cartButtons-Login:hover, .cartButtons:hover{
    box-shadow: 0 4px 25px #4f3267;
}
.login-cart-button:hover{
    border: 1px solid whitesmoke;
}
.cart-Price{
    font-weight: 200;
}
.remove-WishList-Box,.removeBlock,.add-WishList-Block{
    width: fit-content;
    justify-content: center;
    align-items: center;
    margin-left: -3px;
}
