*{
    margin: 0;
    padding: 0;
}
.pass-Container{
    width:800px;
    height: 90vh;
    border: 1px solid red;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Close-Login-Box-Arrow-pass{
    margin-top: 8px;
    margin-left: 220px;
    font-size: 40px;
    color: #693F23;
    transition: all linear .2s;
}
/* .TypeLogin1{
    font-weight: 400;
    color: rgb(130, 130, 130);
    border-bottom: 2px solid rgb(143, 142, 142);
} */

.TypeLogin2-Pass{
    font-weight: 600;
    color: #a23335;
    border-bottom: 2px solid #a23335;
}
.RightSide-Block-Login{
    height: 100%;
}
