*{
    margin: 0;
    padding: 0;
}
.Country-Code-Box{
    width: 90px;
    height: 50px;
    background-color: rgba(206, 206, 206, 0.819);
}
.SignUp-Pass-Container{
   
    display: flex;
    /* border: 1px solid red; */
}
.LeftSide-Block-SignUp{
    width: 38%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    overflow: hidden;
}
.RightSide-Block-SignUp{
    width: 18%;
    /* border: 1px solid red; */
}
.RightSide-Block-SignUp img {
    height: 100%;
    object-fit:fill; 
  }
.Register-submit-Button{
background-color: #4f3267;
}
.Register-submit-Button:hover{
background-color: #432a58;
}
.closeSignUpBox{
    top: -20px;
    margin-left: auto;
    margin-right: -20px;
    font-size: 30px;
    color: #432a58;
}






/* From Uiverse.io by vinodjangid07 */ 
.input-wrapper {
    width: fit-content;
    height: 45px;
    border-radius: 20px;
    padding: 5px;
    box-sizing: content-box;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.668);
  }
  
  .icon {
    width: 30px;
    fill: #4f3267;
    margin-left: 8px;
    transition: all 0.3s;
  }
  .emailBox {
    max-width: 250px;
    height: 100%;
    border: none;
    outline: none;
    padding-left: 15px;
    background-color: rgba(255, 255, 255, 0);
    color: black;
    font-size: 1em;
  }
  .emailBox:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #292524 inset;
    
  }
  .Subscribe-btn {
    height: 100%;
    width: 95px;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    background-color: #4f3267;
    font-weight: 500;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transition: all 0.3s;
  }

  .input-wrapper:active .icon {
    transform: scale(1.3);
  }
  .Subscribe-btn:hover {
    color: white;
  }
  .Subscribe-btn:hover .arrow {
    margin-right: 0;
    animation: jello-vertical 0.9s both;
    transform-origin: right;
  }
  
  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
  .Subscribe-btn:active {
    transform: scale(0.9);
  }
  