@media screen and (max-width:768px  ) {
    .Show-First-Box {
        width: 100%;
        height: 100%;
        border:none;
        /* border: 2px solid red; */
        display: none;
    }
    .Show-First-Box-Clicked{
        display: flex;
    }
    .Show-Second-Box{
        width: 100%;
        height: 100%;
        border: none;
        /* border: 2px solid red; */
        display: none;
    }
    .Show-Second-Box-Clicked{
        display: flex;
    }
    .Show-Third-Box{
        width: 100%;
        height: 100%;
        border: none;
        /* border: 2px solid red; */
        display: none;
    }
    .Show-Third-Box-Clicked{
        display: flex;
    }
}